@model LibertyGlobalBP.Web.ViewModels.Account.ResetPasswordViewModel
@{
    ViewBag.Title = Resources.SetPassword;
    Layout = Views.LoginLayout;
}

<h4 class="text-center">@Resources.SetYourNewPassword</h4>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "content", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resources.Email })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resources.Password })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Resources.ConfirmPassword })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-orange" value="@Resources.Set" />
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
