@model LibertyGlobalBP.Web.ViewModels.ProjectFiles.FolderVM
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h3>@Resources.CreateFolder</h3>
        </div>
        @using (Ajax.BeginForm("CreateFolder", "ProjectFiles",
                        new { },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "validation-result"
                        },
                        new { @class = "form-horizontal", id = "generic-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
            @Html.Partial("_Folder", Model)

        }
        @Scripts.Render(Bundles.ModalValidation)
    </div>
</div>